<h1><%= title %></h1>
<p>Total Count: <%= totalCount  %></p>
<style>
table{
    table-layout: fixed;
}
td {
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    border-collapse:collapse;    
}
</style>
<table border=1>
<tr>
<!-- Create the header row for all the fields -->
<% for(var i=0; i<fields.length; i++) {%>
    <td><%= fields[i] %></td>  
<% } %>
</tr>

<!-- Loop through the results from loggly -->
<% for(var i=0; i<records.length; i++) { 
    var currentRecord = records[i]; %>
    <tr>
    <!-- Loop through each field member-->
    <% for(var j=0; j<fields.length; j++) { 
        var propertyName = fields[j];  %>                
            <td><%= currentRecord[propertyName] %></td> 
    <% } %>
    </tr>
<% } %>
